mixin imgCircle(x)
    .co-img.component-img-circle(style="border: 20px solid " + x)
        img(src="https://via.placeholder.com/200", alt="" class="w-100")
mixin mainImgeCircle1(x,y)
    .co-main-img.component-main-img-circle-1
        +imgCircle(x)
        p(class="co-para" style="background-color: " + y)
            | Dining Menu
mixin mainBtn(x,y)
    button(class="component-main-btn title-fredreka" style="background-color: " + x)
        | Read 
        if y
            br
        | More
        i.fas.fa-angle-right.icon
mixin mainHeading(x,y,z)
    .component-main-title
        h2(class="title font-pacifico" style="color:" + x)=y
        p(class="sub-title title-fredreka")=z